name: chained-workflow
on: 
  workflow_dispatch:
    inputs:
        run_job_3:
            description: 'Whether to run Job 3'
            required: true
            default: true
            type: boolean
jobs: 
    job_1:
        runs-on: ubuntu-latest
        steps:
            - name: Job 1 Step
              run: |
                echo "This is Job 1"
                echo "Finishing Job 1"
    job_2:
        runs-on: ubuntu-latest
        needs:
            - job_1
        steps:
            - name: Job 2 Step
              run: |
                echo "This is Job 2"
                echo "Finishing Job 2"
    job_3:
        if: github.event.inputs.run_job_3 == 'true' 
        runs-on: ubuntu-latest
        needs: 
            - job_1
        steps:
            - name: Job 3 Step
              run: |
                echo "This is Job 3"
                echo "Finishing Job 3"
    job_4:
        runs-on: ubuntu-latest
        needs: [job_2, job_3]
        steps:
            - name: Job 4 Step
              run: |
                echo "This is Job 4"
                echo "Finishing Job 4"